/ {
	chosen {
		zephyr,console = &rtt0;
		zephyr,shell-uart = &rtt0;
	};
};

&led0 {
	gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
};

&button0 {
	gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};

&uart0 {
	status = "disabled";
};
